body{
        background: #001932;
        background: -moz-linear-gradient(left, #001932 0%, #00639B 46%, #003B64 100%);
        background: -webkit-linear-gradient(left, #001932 0%, #00639B 46%, #003B64 100%);
        background: linear-gradient(to right, #001932 0%, #00639B 46%, #003B64 100%);
}

.result {
    text-align: center;
    padding: 300px;
    font-size: 30px;
    
}

button {
    padding: 7px 25px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: rgba(10, 1, 1, 0.918);
    background-color: #b382ac;
    border: none;
    border-radius: 30px;
  }
  
  button:hover {
    background-color: #3e8e41
  }
  
  button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  @media screen and (max-width: 500px) {
    button {
      font-size: 18px;
      padding: 10px 20px;
    }
  }